
.services:after
{
   content: "";
   display: block;
   clear: both;
}

.services
{
    color: #999;
    margin: 10px 0;
    text-align: center;
    
}

.service
{
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 148px;
    position: relative;
}

.service:nth-child(2)
{
    color: blue;
    top: 5px;
}

.service:nth-child(3)
{
    color: blue;
    top: 10px;
}

.content
{
    padding: 10px;
    background: #ccc;
    margin-top: 20px 1%;
}

.content p
{
    /*-webkit-column-count: 3;*/
    column-count:  3;
    /*-webkit-column-gap: 50px;*/
    column-gap: 50px;
    column-rule: 1px solid green;
}
/*-------------------------------*/

section, aside
{
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
   background-color: lightblue;
}

.columns:after
{
    display: block;
    content: "";
    clear: both;
}

#banner
{
    max-height: 300px;
    overflow: hidden;
    margin: 1%;
    position: relative;
}

#banner h2
{
    position: absolute;
    color: red;
    top: 30px;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

nav
{
    background: #333;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav li
{
    list-style-type: none;
    margin: 0 10px;
    color: #fff;
    float: right;
}

nav li:after
{
    content: "";
    display: block;
    clear: both;
}
