body
{
    background-color: #f4f4f4;
    color:#555555;
    /*
    font-family:tahoma, sans-serif;
    font-size: 18px;
    font-weight: normal;
    */
    font: normal 18px arial, Helvetica, sans-serif;
    line-height: 1.8em;
    margin: 0;
}

.container
{
    width: 90%;
    margin: auto;
}

.box1
{
    background-color:#333;
    color:#fff;
    margin: 20px 5px 5px 5px;
    border: 5px red solid;
    padding: 15px;
}

.box1 h1
{
    font-family:tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase
}

.box2
{
    margin: 10px;
    border: 1px blue solid;
    padding: 12px;
}

.box2 h3
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}