.services:after
{
   content: "";
   display: block;
   clear: both;
}

.services
{
    color: #999;
    margin: 10px 0;
    text-align: center;
    
}

.service
{
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 148px;
}

.content
{
    padding: 10px;
    background: #ccc;
    margin-top: 20px 1%;
}
/*-------------------------------*/
section, aside
{
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
   background-color: lightblue;
}

.columns::after
{
    display: block;
    content: "";
    clear: both;
}
