:root
{
    --gridcolor: 0;
}

.thick_green_border
{
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

h2 
{
    font-family: Mansalva;
    border: olive;
    border-style: solid;
}

.para1
{
    color: navy;
    font-family: Baloo Da 2, Mansalva, Nerko One, Arial;
    font-size: 25px;
}

.smaller_img
{
    width: 100px;
}
/*
#nuclear_form
{
    font-family: Baloo Da 2;
    color: indigo;
    font-size: 20px;
    background-color: yellowgreen;;
}
*/
#header2id 
{
    /* ids always have more priority than classes*/
    color: darkslategrey;
}

.header2class
{
    color: rebeccapurple;
}
/*
.inp
{
    font-family: Baloo Da 2;
    border-color: red;
    border-width: 25px;
    border-style: solid;
}
*/
[type='checkbox']
{
    margin: 30px;    
}

body
{
    background-color: darkcyan;
}
/*
#shape
{
    width: 100px;
    height: 100px;
    border-radius: 40%;
    background: darkred;
    
}
/*
#shape
{
    width: 0; 
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    clip-path: circle(50% at 50% 50%);
}
*/
/*
#shape
{
    width: 100px; 
    height: 100px;
    clip-path: circle(50.4% at 50% 66%);
    
    background-color: darkviolet;
}
*/
#shape
{
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.d1{background-color: lightgreen;}
.d2{background-color: rgb(233, 123, 0);}
.d3{background-color: rgb(var(--gridcolor), 123, 0);}
.d4{background-color: lightcoral;}
.d5{background-color: mediumorchid;}

.container
{
    font-size: 40px;
    width: 100%;
    height: 300px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-gap: 10px; 
}